div {
  font-family: Arial;
  font-size: 14px;
}

.container {
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 0 10px 20px 0;
}

.inbox-label {
  color: gray;
  margin: 20px 0 20px 20px;
  padding-top: 10px;
}

.email{
  display: flex;
  align-items:center;
}

.email-header {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.sender-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin: 0 10px 0 20px;
}

.email-content {
  flex:1;
}

.send-time {
  color: gray;
}

.sender-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subject {
  font-weight: bold;
  margin-bottom: 4px;
}

.message {
  color: gray;
}