body {
  height: 3000px;
}

.right-sidebar {
  position: fixed;
  background-color: green;
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 10px;
  height: 120px;
  width: 400px;
  position: fixed;
  padding: 30px;
}

.modal-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modal-content {
  font-size: 24px;
  margin-bottom: 8px;
}

.button {
  font-size: 20px;
}