@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding: 5px;
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 250px;
    background-color: white;
    z-index: 200;
    padding: 5px;
    /* transition: width 0.15s; */
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 40px;
    margin: 0 20px;
    /* transition: height, margin 0.15s; */
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 16px;
    /* transition: font-size 0.15s; */
  }
}
